%ul.nav.nav-pills{:role => "tablist"}
  %li{:role => "presentation"}
    %a{"aria-controls" => "players", "data-toggle" => "tab", :href => "#players", :role => "tab"} Danh sách cơ thủ
  %li{:role => "presentation"}
    %a{"aria-controls" => "groups", "data-toggle" => "tab", :href => "#groups", :role => "tab"} Bảng thi đấu
  %li{:role => "presentation"}
    %a{"aria-controls" => "matches", "data-toggle" => "tab", :href => "#matches", :role => "tab"} Danh sách trận đấu
  %li{:role => "presentation"}
    %a{"aria-controls" => "de", "data-toggle" => "tab", :href => "#de", :role => "tab"} Vòng loại trực tiếp

.tab-content
  %br/
  #players.tab-pane{:role => "tabpanel"}
    %iframe{:frameborder => "0", :height => "1500", :src => "https://sportbook-staging.herokuapp.com/tournaments/2/players", :width => "100%"}
  #groups.tab-pane{:role => "tabpanel"}
    %iframe{:frameborder => "0", :height => "800", :src => "https://sportbook-staging.herokuapp.com/tournaments/2/groups", :width => "100%"}
  #matches.tab-pane{:role => "tabpanel"}
    %iframe{:frameborder => "0", :height => "4500", :src => "https://sportbook-staging.herokuapp.com/tournaments/2/matches", :width => "100%"}
  #de.tab-pane{:role => "tabpanel"}
    %iframe{:frameborder => "0", :height => "500", :src => "https://docs.google.com/spreadsheets/d/1gt6f_-ZAvp0k6Jpk0GwHfxdT-GPb80XAoiZ-hj7ZHrw/pubhtml?gid=1400074640&single=true&widget=true&headers=false", :width => "100%"}
